*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
}

header{
    background-color: rgb(81, 77, 77);
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
}

button{
    transition: 0.5s;
}

button:hover{
    scale: 1.1;
}

button:active{
    scale: 0.9;
}

.buttondiv{
    display: flex;
    justify-content: space-between;
}

.headerbutton{
    height: 2em;
    width: 5em;
    background-color: cornflowerblue;
    border-radius: 1em;
    margin-right: 1em;
    border: solid rgb(0, 210, 210) 2px;
}

.gallerydiv{
    background-color: rgb(146, 144, 144);
    height: 35em;
}

.galleryimg{
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: ;
    transition: 1s;
}

.galleryform{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    z-index: 3;
}

.galleryradio{
    scale: 1.5;
    margin: 0.5em;
}

.mainbutton{
    height: 2.5em;
    width: 5em;
    background-color: orangered;
    border: solid orange 2px;
    border-radius: 2em;
    font-size: xx-large;
}

.infomain{
    height: 80em;
    background-color: rgb(52, 52, 177);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.infosection{
    background-color: rgb(2, 208, 208);
    height: 35%;
    width: 70%;
    border-radius: 2em;
    padding: 1em;
}

footer{
    background-color: black;
    height: 11em;
    color: white;
}